[Unit]
Description=wgmesh-routing service
Wants=network-online.target
After=network-online.target
[Service]
User=wg-mesh
Group=wg-mesh
Type=simple
CPUQuota=10%
TimeoutSec=300
Restart=on-failure
StandardOutput=null
Environment=PYTHONUNBUFFERED=1
WorkingDirectory=/opt/wg-mesh/cron
ExecStart=/usr/bin/python3 routing.py -u 
[Install]
WantedBy=multi-user.target