[Unit]
Description=wgmesh service
Wants=network-online.target wgmesh-pipe.service
After=network-online.target wgmesh-pipe.service
[Service]
User=wg-mesh
Group=wg-mesh
Type=simple
StandardOutput=null
WorkingDirectory=/opt/wg-mesh
ExecStart=/usr/bin/python3 api.py
[Install]
WantedBy=multi-user.target