[Unit]
Description=asnlal service
Wants=network-online.target
After=network-online.target
[Service]
User=wg-mesh
Group=wg-mesh
Type=notify
CPUQuota=10%
TimeoutSec=300
Restart=on-failure
WorkingDirectory=/opt/wg-mesh/cron
ExecStart=/usr/bin/python3 routing.py
[Install]
WantedBy=multi-user.target