[Unit]
Description=wgmesh-bird service
Wants=network-online.target wgmesh-pipe.service
After=network-online.target wgmesh-pipe.service
[Service]
User=wg-mesh
Group=wg-mesh
Type=simple
Environment=PYTHONUNBUFFERED=1
WorkingDirectory=/opt/wg-mesh/cron
ExecStart=/usr/bin/python3 bird.py -u
[Install]
WantedBy=multi-user.target